body{
  background-color: lightgreen;
}

img {
  /*Get The images a unifor size for every round */
  border: 2px solid blue;
  height: 300px;
  width: 300px;
}

li {
  position: relative;
  display: inline;

}

img {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
}

img:hover {
  transition: 2s;
  -webkit-transition:2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
